doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1,maximum-scale=1.0,user-scalable=no")
		link(href="css/swiper-3.3.1.min.css", rel="stylesheet", type="text/css")
		link(href="css/n_common.css", rel="stylesheet", type="text/css")
		link(href="css/Saishi_home.css", rel="stylesheet", type="text/css")
		link(href="css/Saishi_baoming.css", rel="stylesheet", type="text/css")
		script(type="text/javascript", src="js/jquery-1.7.2.min.js")
		script(type="text/javascript", src="js/swiper-3.3.1.min.js")
		title 赛事-报名
	body
		// nav start
		.ss_detail_nav
			ul.ss_dul
				a(href="Saishi_home.html")
					li
						img(src="images/tab-shouye@3x.png")
				a(href="Saishi_saicheng.html")
					li
						img(src="images/tab-saicheng@3x.png")
				a(href="Saishi_dongtai.html")
					li
						img(src="images/tab-dongtai@3x.png")
				a(href="Saishi_paihang.html")
					li
						img(src="images/tab-paihang@3x.png")
				a(href="Saishi_baoming.html")
					li
						img(src="images/tab-baoming-pressed@3x.png")
				.clear
			img.nav_zhanweitu(src="images/nav_zhanweitu.png")
		// nav end
		// banner start
		.swiper-container
			.swiper-wrapper
				.swiper-slide
					img.banner_img(src="images/banner@2x.png")
				.swiper-slide
					img.banner_img(src="images/banner@2x.png")
				.swiper-slide
					img.banner_img(src="images/banner@2x.png")
				.swiper-slide
					img.banner_img(src="images/banner@2x.png")
				.swiper-slide
					img.banner_img(src="images/banner@2x.png")
				.swiper-slide
					img.banner_img(src="images/banner@2x.png")
			// 分页器
			.swiper-pagination.sd_right
		// banner end
		// 报名详情
		.bm_detail
			.bm_detail_con
				p.pub_Beyhid
					| 比赛时间：
					span 2016-06-26 19:35
				p.pub_Beyhid
					| 比赛地点：
					span 裕同体育中心
				p.pub_Beyhid
					| 比赛奖励：
					span 文本文本文本文本
				p
					| 比赛规则：
					span 文本文本文本文本文本文本文本文本文本文本文本文本
		// btn_baoming
		.btn_baoming
			img(src="images/btn-Sign-up-at-once@2x.png")
		// 是否创建球队
		#shade.shade
		#bm_chuangjian.bm_chuangjian
			.bm_chuangjian_con 你还没有创建球队，是否立即创建？
			img.bm_chuangjian_line(src="images/Separation-line1@2x.png")
			.btn_chuangjian
				.btn_chuangjian_no 否
				a(href="ss_baoming_detail.html")
					.btn_chuangjian_yes 是
		// 悬浮框二维码 start
		.zhan_foot
		.foot_erweima
		.erweima_content
			.erweima_contentl
				img(src="images/zhaopian.png")
			.erweima_contentr
				p 创建你的球队 称霸你的主场
				p.line_di 一站式球队服务专项平台
				p.padtop5 长按二维码下载APP
			.clear
		// 悬浮框二维码 end
		// 首页轮播
		script.
			var mySwiper = new Swiper ('.swiper-container', {
			direction: 'horizontal',
			loop: true,
			autoplay : 4000,
			autoplayDisableOnInteraction : false,
			// 如果需要分页器
			pagination: '.swiper-pagination',
			})
		script.
			$(".btn_baoming").click(function () {
			$(this).children("img").attr("src","images/btn-Sign-up-at-once-pressed@2x.png");
			//        if(有创建的情况){
			//
			//        }
			//        else{
			var shade = document.getElementById("shade");
			shade.style.width = window.screen.width + 'px';
			shade.style.height = window.screen.height + 'px';
			$("#shade").show();
			$("#bm_chuangjian").show();
			//        }
			})
		script.
			$(".btn_chuangjian_no").click(function () {
			$("#shade").hide();
			$("#bm_chuangjian").hide();
			})
			$(".shade").click(function () {
			$("#shade").hide();
			$("#bm_chuangjian").hide();
			})
