doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1,maximum-scale=1.0,user-scalable=no")
		link(href="css/swiper-3.3.1.min.css", rel="stylesheet", type="text/css")
		link(href="css/n_common.css", rel="stylesheet", type="text/css")
		link(href="css/Saishi_home.css", rel="stylesheet", type="text/css")
		link(href="css/Saishi_baoming.css", rel="stylesheet", type="text/css")
		script(type="text/javascript", src="js/jquery-1.7.2.min.js")
		script(type="text/javascript", src="js/swiper-3.3.1.min.js")
		title 赛事-报名详情页
	body
		// nav start
		.ss_detail_nav
			ul.ss_dul
				a(href="Saishi_home.html")
					li
						img(src="images/tab-shouye@3x.png")
				a(href="Saishi_saicheng.html")
					li
						img(src="images/tab-saicheng@3x.png")
				a(href="Saishi_dongtai.html")
					li
						img(src="images/tab-dongtai@3x.png")
				a(href="Saishi_paihang.html")
					li
						img(src="images/tab-paihang@3x.png")
				a(href="Saishi_baoming.html")
					li
						img(src="images/tab-baoming-pressed@3x.png")
				.clear
			img.nav_zhanweitu(src="images/nav_zhanweitu.png")
		// nav end
		// 创建队伍信息
		.bm_team_info_bg
			.bm_team_info
				.bm_team_info_name
					span 球队名称：
					input(type="text", placeholder="输入队名")
					.clear
				.bm_team_info_tel.bm_team_info_name
					span 联系方式：
					input(type="text", placeholder="输入联系方式")
					.clear
		// 悬浮框二维码 start
		.zhan_foot
		.foot_erweima.foot_erweima3
		.erweima_content.erweima_content3
			.erweima_contentl
				img(src="images/zhaopian.png")
			.erweima_contentr
				p 创建你的球队 称霸你的主场
				p.line_di 一站式球队服务专项平台
				p.padtop5 长按二维码下载APP
			.clear
		// 悬浮框二维码 end
		// zhanweifu
		.clear(style="height: 52px")
		// 底部支付
		.bm_zhifu
			.bm_zhiful
				p 费用：1500
				p.bm_zhiful_word 包含保证金，报名费
			.bm_zhifur 立即支付
			.clear
