doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1,maximum-scale=1.0,user-scalable=no")
		link(href="css/swiper-3.3.1.min.css", rel="stylesheet", type="text/css")
		link(href="css/n_common.css", rel="stylesheet", type="text/css")
		link(href="css/Saishi_home.css", rel="stylesheet", type="text/css")
		link(href="css/ss_home_jointeam.css", rel="stylesheet", type="text/css")
		script(type="text/javascript", src="js/jquery-1.7.2.min.js")
		script(type="text/javascript", src="js/swiper-3.3.1.min.js")
		title 赛事页面-首页-参赛球队
	body
		// nav start
		.ss_detail_nav
			ul.ss_dul
				a(href="Saishi_home.html")
					li
						img(src="images/tab-shouye-pressed@3x.png")
				a(href="Saishi_saicheng.html")
					li
						img(src="images/tab-saicheng@3x.png")
				a(href="Saishi_dongtai.html")
					li
						img(src="images/tab-dongtai@3x.png")
				a(href="Saishi_paihang.html")
					li
						img(src="images/tab-paihang@3x.png")
				a(href="Saishi_baoming.html")
					li
						img(src="images/tab-baoming@3x.png")
				.clear
			img.nav_zhanweitu(src="images/nav_zhanweitu.png")
		// nav end
		#jointeam_content.jointeam_content
			// 参赛球队_统计页面 start
			.jt_tongji.jointeam_main.jcontent_now
				.jt_tongji_head
					.jt_tongji_headl
						// 请上传98*104的图片
						img(src="images/sctj_demo_img.png")
					.jt_tongji_headr
						p.size16.pub_Beyhid 上海申花蓝宝足球俱乐部
						p.tongji_haed_word.size12_hui.pub_Beyhid
							img(src="images/adress_ico@2x.png")
							|  中国
					.clear
				// 统计列表
				.tongji_list
					p.tongji_list_p.pub_Beyhid
						img(src="images/time@2x.png")
						| 2016年
					ul.tongji_listul
						li
							p.tongji_number.pub_Beyhid 24
							p.tongji_number_word.pub_Beyhid 胜场
						li
							p.tongji_number.pub_Beyhid 24
							p.tongji_number_word.pub_Beyhid 平场
						li(style="border-right: none;")
							p.tongji_number.pub_Beyhid 24
							p.tongji_number_word.pub_Beyhid 负场
						li
							p.tongji_number.pub_Beyhid 24
							p.tongji_number_word.pub_Beyhid 总进球
						li
							p.tongji_number.pub_Beyhid 24
							p.tongji_number_word.pub_Beyhid 总失球
						li(style="border-right: none;")
							p.tongji_number.pub_Beyhid 24
							p.tongji_number_word.pub_Beyhid 净胜球
						li
							p.tongji_number.pub_Beyhid 24
							p.tongji_number_word.pub_Beyhid 红牌
						li
							p.tongji_number.pub_Beyhid 24
							p.tongji_number_word.pub_Beyhid 黄牌
						.clear
			// 参赛球队_统计页面 end
			// 参赛球队_阵容页面 start
			.jt_zhenrong.jointeam_main
				// 排头详情
				.pm_bg
					img.pmbg_img(src="images/background@2x.png")
					.pm_head.padtop25
						.pm_headl.size14
							p.padbottom5.pub_Beyhid
								| 人数 
								span 25人
							p.padbottom5.pub_Beyhid
								| 均龄 
								span 26.0岁
							p.padbottom5.pub_Beyhid
								| 均高 
								span 177.3cm
							p.pub_Beyhid
								| 均重 
								span 57.8KG
						.pm_headc
							img.icon_img_center(src="images/wait-for@2x.png")
							// <p class="myteam">我的球队</p>
						.pm_headr.size14
							p.pub_Beyhid
								| 战点 
								span 50
							p.pading5.pub_Beyhid
								| 胜率 
								span 55%
							p.pub_Beyhid
								| 排名 
								span 2
						.clear
						.myteam_name.pub_Beyhid.size16 东城兄弟俱乐部
				// 队员列表
				.zr_team_list
					.zr_list_con
						// 此处为主队信息循环1
						.zr_list_one
							.zr_list_touxiang
								img(src="images/zhaopian.png")
							.zr_list_name
								p.zr_list_name_head.pub_Beyhid 张萌萌
								p.size12_sbule.pub_Beyhid 25号 门卫
								p.size12_sbule.pub_Beyhid 29岁.172cm.78kg
							.clear
						// 此处为主队信息循环1
						.zr_list_one
							.zr_list_touxiang
								img(src="images/zhaopian.png")
							.zr_list_name
								p.zr_list_name_head.pub_Beyhid 张萌萌
								p.size12_sbule.pub_Beyhid 25号 门卫
								p.size12_sbule.pub_Beyhid 29岁.172cm.78kg
							.clear
			// 参赛球队_阵容页面 end
			// 参赛球队_战绩页面 start
			.jt_zhanji.jointeam_main
				.clear(style="height: 5px;")
				// 战绩列表  循环1
				.jt_zhanji_con
					.jt_zhanji_head
						.jt_zhanji_time 2016年06月05日
						.jt_zhanji_cishu 常规赛 第1轮
						.clear
					.ji_zhanji_list
						.sctj_main.padtop10
							p.sctj_word.size12_hui 06月11日 16:00 常规赛 第3轮
							p.sctj_word.size14.padtop3 长江南岸
							.sctj_con
								.sctj_conl
									img.sctj_img(src="images/sctj_demo_img.png")
									p.size14.padtop5 CDFEG
								.sctj_conc.size24_blue.padtop15.font_w.pub_Beyhid 3 : 0
								.sctj_conr
									img.sctj_img(src="images/sctj_demo_img.png")
									p.size14.padtop5 CDFEG
								.clear
						.sctj_btn
							.sctj_btnl
								img(src="images/btn-Graphic-record@2x.png")
							.sctj_btnr
								img(src="images/btn-The-game-highlights@2x.png")
							.clear
				// 战绩列表  循环2
				.jt_zhanji_con
					.jt_zhanji_head
						.jt_zhanji_time 2016年06月05日
						.jt_zhanji_cishu 常规赛 第1轮
						.clear
					.ji_zhanji_list
						.sctj_main.padtop10
							p.sctj_word.size12_hui 06月11日 16:00 常规赛 第3轮
							p.sctj_word.size14.padtop3 长江南岸
							.sctj_con
								.sctj_conl
									img.sctj_img(src="images/sctj_demo_img.png")
									p.size14.padtop5 CDFEG
								.sctj_conc.size24_blue.padtop15.font_w.pub_Beyhid 3 : 0
								.sctj_conr
									img.sctj_img(src="images/sctj_demo_img.png")
									p.size14.padtop5 CDFEG
								.clear
						.sctj_btn
							.sctj_btnl
								img(src="images/btn-Graphic-record@2x.png")
							.sctj_btnr
								img(src="images/btn-The-game-highlights@2x.png")
							.clear
			// 参赛球队_战绩页面 end
		// 悬浮框二维码 start
		.zhan_foot
		.foot_erweima.foot_erweima2
		.erweima_content.erweima_content2
			.erweima_contentl
				img(src="images/zhaopian.png")
			.erweima_contentr
				p 创建你的球队 称霸你的主场
				p.line_di 一站式球队服务专项平台
				p.padtop5 长按二维码下载APP
			.clear
		// 悬浮框二维码 end
		// foot zhanwei
		.foot_zhanwei
		// foot start
		.foot
			ul#footul.footul
				li.footli_01.jli_now
					img(src="images/btn-Statistics-pressed@2x.png", style="width:27px; margin-top: 2px;")
				li.footli_02
					img(src="images/btn-lineup@2x.png", style="width:26px;")
				li.footli_03
					img(src="images/btn-Record@2x.png", style="width: 26px; margin-top: 2px;")
				.clear
		// foot end
		script.
			//ss_home_jointeam_nav
			$("#footul li").each(function(i){
			$(this).click(function(){
			var $this=$(this);
			$this.addClass('jli_now').siblings().removeClass('jli_now');
			$('#jointeam_content .jointeam_main').removeClass('jcontent_now');
			$('#jointeam_content .jointeam_main').eq(i).addClass('jcontent_now');
			})
			})
			//foot_nav
			$(".footli_01").click(function () {
			$(this).children().attr('src','images/btn-Statistics-pressed@2x.png');
			$(".footli_02 img").attr('src','images/btn-lineup@2x.png');
			$(".footli_03 img").attr('src','images/btn-Record@2x.png');
			})
			$(".footli_02").click(function () {
			$(this).children().attr('src','images/btn-lineup-pressed@2x.png');
			$(".footli_01 img").attr('src','images/btn-Statistics@2x.png');
			$(".footli_03 img").attr('src','images/btn-Record@2x.png');
			})
			$(".footli_03").click(function () {
			$(this).children().attr('src','images/btn-Record-pressed@2x.png');
			$(".footli_01 img").attr('src','images/btn-Statistics@2x.png');
			$(".footli_02 img").attr('src','images/btn-lineup@2x.png');
			})
		script.
			//点击后的按钮状态
			$(".sctj_btnl").click(function () {
			$(this).children("img").attr("src","images/btn-Graphic-record-pressed@2x.png")
			})
			$(".sctj_btnr").click(function () {
			$(this).children("img").attr("src","images/btn-The-game-highlights-pressed@2x.png")
			})
