doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1,maximum-scale=1.0,user-scalable=no")
		link(href="css/n_common.css", rel="stylesheet", type="text/css")
		link(href="css/Saishi_home.css", rel="stylesheet", type="text/css")
		link(href="css/ss_home_jointeam.css", rel="stylesheet", type="text/css")
		link(href="css/PwsDetail.css", rel="stylesheet", type="text/css")
		link(href="css/Saishi_baoming.css", rel="stylesheet", type="text/css")
		link(href="css/ss_saicheng_detail.css", rel="stylesheet", type="text/css")
		script(type="text/javascript", src="js/jquery-1.7.2.min.js")
		title 赛事-赛程详情页
	body
		// nav start
		.ss_detail_nav
			ul.ss_dul
				a(href="Saishi_home.html")
					li
						img(src="images/tab-shouye@3x.png")
				a(href="Saishi_saicheng.html")
					li
						img(src="images/tab-saicheng-pressed@3x.png")
				a(href="Saishi_dongtai.html")
					li
						img(src="images/tab-dongtai@3x.png")
				a(href="Saishi_paihang.html")
					li
						img(src="images/tab-paihang@3x.png")
				a(href="Saishi_baoming.html")
					li
						img(src="images/tab-baoming@3x.png")
				.clear
			img.nav_zhanweitu(src="images/nav_zhanweitu.png")
		// nav end
		.clear(style="height: 5px;")
		// 赛程排头 start
		.jt_zhanji_con
			// 未结束状态  start   此处隐藏了
			.ji_zhanji_list(style="display: none")
				.sctj_main.padtop10
					p.sctj_word.size12_hui 06月11日 16:00 常规赛 第3轮
					p.sctj_word.size14.padtop3 长江南岸
					.sctj_con
						.sctj_conl
							img.sctj_img(src="images/sctj_demo_img.png")
							p.size14.padtop5 CDFEG
						.sctj_conc.size24_blue.padtop15.font_w.pub_Beyhid V S
						.sctj_conr
							img.sctj_img(src="images/sctj_demo_img.png")
							p.size14.padtop5 CDFEG
						.clear
				.sctj_btn
					.sctj_btnl
						img(src="images/btn-Graphic-record@2x.png")
					.sctj_btnr
						img(src="images/btn-The-game-highlights@2x.png")
					.clear
				// 点赞部分
				.ss_sc_dianzan
					// 左,隐藏图标为没有点赞的情况
					.ss_sc_dianzanl
						img(src="images/click-a-like-pressed@2x.png")
						// <img src="images/click-a-like@2x.png">
						span.ss_dianzanl 1
						.clear
					// 中
					.ss_sc_dianzanc
						.ss_sc_dianzanc_l
						.ss_sc_dianzanc_r
						.clear
					// 右，隐藏图标为没有点赞的情况
					.ss_sc_dianzanr
						span.ss_dianzanr 1
						img(src="images/click-a-like1-pressed@2x.png")
						// <img src="images/click-a-like1@2x.png">
						.clear
					.clear
			// 未结束状态  end
			// 已结束状态  start
			.ji_zhanji_list
				.sctj_main.padtop10
					p.sctj_word.size12_hui 06月11日 16:00 常规赛 第3轮
					p.sctj_word.size14.padtop3 长江南岸
					.sctj_con
						.sctj_conl
							img.sctj_img(src="images/sctj_demo_img.png")
							p.size14.padtop5 CDFEG
						.sctj_conc.size24_blue.padtop15.font_w.pub_Beyhid 3 : 0
						.sctj_conr
							img.sctj_img(src="images/sctj_demo_img.png")
							p.size14.padtop5 CDFEG
						.clear
				.sctj_btn
					.sctj_btnl
						img(src="images/btn-Graphic-record@2x.png")
					.sctj_btnr
						img(src="images/btn-The-game-highlights@2x.png")
					.clear
				// 点赞部分
				.ss_sc_dianzan
					// 左,隐藏图标为没有点赞的情况
					.ss_sc_dianzanl
						img.unbtn_dianzan(src="images/click-a-like-pressed@2x.png")
						// <img src="images/click-a-like@2x.png" class="unbtn_dianzan">
						span.ss_dianzanl 1
						.clear
					// 中
					.ss_sc_dianzanc
						.ss_sc_dianzanc_l
						.ss_sc_dianzanc_r
						.clear
					// 右，隐藏图标为没有点赞的情况
					.ss_sc_dianzanr
						span.ss_dianzanr 1
						img.unbtn_dianzan(src="images/click-a-like1-pressed@2x.png")
						// <img src="images/click-a-like1@2x.png" class="unbtn_dianzan">
						.clear
					.clear
			// 已结束状态  end
		// 赛程排头 end
		.clear(style="height: 5px;")
		// 队员列表
		.two_bg.ss_sc_teamlist
			.three_width
				.both_zr.pading15
					// 主队
					.both_zrl
						.both_zrl_head.ss_sc_tlhead 主队阵容
						.both_zrl_main
							// 此处为主队信息循环1
							.both_zrl_main1
								.both_touxiang
									img(src="images/zhaopian.png")
								.both_name.ss_sc_tlword
									p.pub_Beyhid 张萌萌
									p.size12_sbule.pub_Beyhid 25号 门卫
									p.size12_sbule.pub_Beyhid 20岁 170cm 65kg
								.clear
							// 此处为主队信息循环2
							.both_zrl_main1
								.both_touxiang
									img(src="images/zhaopian.png")
								.both_name.ss_sc_tlword
									p.pub_Beyhid 张萌萌
									p.size12_sbule.pub_Beyhid 25号 门卫
									p.size12_sbule.pub_Beyhid 20岁 170cm 65kg
								.clear
					// 客队
					.both_zrr
						.both_zrl_head.ss_sc_tlhead 客队阵容
						.both_zrl_main
							// 此处为客队信息循环1
							.both_zrl_main1
								.both_touxiang
									img(src="images/zhaopian.png")
								.both_name.ss_sc_tlword
									p.pub_Beyhid 张萌萌
									p.size12_sbule.pub_Beyhid 25号 门卫
									p.size12_sbule.pub_Beyhid 20岁 170cm 65kg
								.clear
							// 此处为客队信息循环2
							.both_zrl_main1
								.both_touxiang
									img(src="images/zhaopian.png")
								.both_name.ss_sc_tlword
									p.pub_Beyhid 张萌萌
									p.size12_sbule.pub_Beyhid 25号 门卫
									p.size12_sbule.pub_Beyhid 20岁 170cm 65kg
								.clear
					.clear
		// 无法点赞窗口
		#shade.shade
		#bm_chuangjian.bm_chuangjian
			.bm_chuangjian_con 本场比赛已结束，不能继续点赞！
			img.bm_chuangjian_line(src="images/Separation-line1@2x.png")
			.btn_chuangjian
				.btn_chuangjian_ok 好的
		// 悬浮框二维码 start
		.zhan_foot
		.foot_erweima
		.erweima_content
			.erweima_contentl
				img(src="images/zhaopian.png")
			.erweima_contentr
				p 创建你的球队 称霸你的主场
				p.line_di 一站式球队服务专项平台
				p.padtop5 长按二维码下载APP
			.clear
		// 悬浮框二维码 end
		script.
			//点击后的按钮状态
			$(".sctj_btnl").click(function () {
			$(this).children("img").attr("src","images/btn-Graphic-record-pressed@2x.png")
			})
			$(".sctj_btnr").click(function () {
			$(this).children("img").attr("src","images/btn-The-game-highlights-pressed@2x.png")
			})
		script.
			//已结束状态后不能点赞
			$(".unbtn_dianzan").click(function () {
			var shade = document.getElementById("shade");
			shade.style.width = window.screen.width + 'px';
			shade.style.height = window.screen.height + 'px';
			$("#shade").show();
			$("#bm_chuangjian").show();
			})
			$(".btn_chuangjian_ok").click(function () {
			$("#shade").hide();
			$("#bm_chuangjian").hide();
			})
			$(".shade").click(function () {
			$("#shade").hide();
			$("#bm_chuangjian").hide();
			})
