doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1,maximum-scale=1.0,user-scalable=no")
		link(href="css/n_common.css", rel="stylesheet", type="text/css")
		link(href="css/index.css", rel="stylesheet", type="text/css")
		link(href="css/TeamDetail.css", rel="stylesheet", type="text/css")
		script(type="text/javascript", src="js/jquery-1.7.2.min.js")
		title 球队详情
	body
		// 排头详情
		.pm_bg
			img.pmbg_img(src="images/background@2x.png")
			.pm_head.padtop25
				.pm_headl.size14
					p.padbottom5
						| 人数 
						span 25人
					p.padbottom5.pub_Beyhid
						| 均龄 
						span 26.0岁
					p.padbottom5.pub_Beyhid
						| 均高 
						span 177.3cm
					p.pading5.pub_Beyhid
						| 均重 
						span 57.8KG
				.pm_headc
					img.icon_img_center(src="images/wait-for@2x.png")
					p.myteam 我的球队
				.pm_headr.size14
					p.pub_Beyhid
						| 战点 
						span 50
					p.pading5.pub_Beyhid
						| 胜率 
						span 55%
					p.pub_Beyhid
						| 排名 
						span 2
				.clear
				.myteam_name.pub_Beyhid.size16 东城兄弟俱乐部
		// nav start
		.teamdetail_navbg
			.teamdetail_nav
				ul#teamdetailnav_ul.teamdetailnav_ul
					li.tli_hover.tli_now
						.tli_01
					li
						.tli_02
					li
						.tli_03
					.clear
		// nav end
		// 分页内容
		#td_content.td_content
			// 概括 start
			.gk_content.td_main.td_content_now
				// 相册
				.gk_photo
					img.gk_photo_img(src="images/album@2x.png")
					.dingwei_more
						img.zhan_img2(src="images/zhan_img2@2x.png")
						a(href="#")
							img.more_img(src="images/more@2x.png")
					// 有相册的情况下
					.two_bg
						.two_width
							ul.gk_photoul
								// 此处循环li标签，添加图片
								li
									img(src="images/zhaopian.png")
								li
									img(src="images/zhaopian.png")
								li
									img(src="images/zhaopian.png")
								li
									img(src="images/zhaopian.png")
								.clear
					// 没有相册的情况下,此处为隐藏状态
					.two_bg(style="display: none;")
						.two_width
							.team_img
								img(src="images/Team_zhaopian@2x.png")
								| 你还没有任何的球队照片哟！
				.clear03
				// 所属区域
				.gk_photo
					img.gk_photo_img(src="images/adress@2x.png")
					.dingwei_more
						img.zhan_img2(src="images/zhan_img2@2x.png")
						a(href="#")
							img.more_img(src="images/more@2x.png")
					.two_bg
						.two_width
							.adress_div
								img.adress_icon(src="images/icon-adress@2x.png")
								| 四川省-成都市-双流县
				.clear03
				// 球队成员
				.gk_photo
					img.gk_photo_img(src="images/player@2x.png")
					.dingwei_more
						img.zhan_img2(src="images/zhan_img2@2x.png")
						a(href="#")
							img.more_img(src="images/more@2x.png")
					.two_bg
						.two_width
							ul.gk_qiuduiul
								// 此处循环li标签，添加头像
								li
									.touxiang
										img(src="images/zhaopian.png")
									p.touxiang_name.pub_Beyhid 张大大
									p.touxiang_info.pub_Beyhid 11号.前锋
								li
									.touxiang
										img(src="images/zhaopian.png")
									p.touxiang_name.pub_Beyhid 张大大
									p.touxiang_info.pub_Beyhid 11号.前锋
								li
									.touxiang
										img(src="images/zhaopian.png")
									p.touxiang_name.pub_Beyhid 张大大
									p.touxiang_info.pub_Beyhid 11号.前锋
								li
									.touxiang
										img(src="images/zhaopian.png")
									p.touxiang_name.pub_Beyhid 张大大
									p.touxiang_info.pub_Beyhid 11号.前锋
								.clear
				.clear03
				// 球队活动
				.gk_photo
					img.gk_photo_img(src="images/Team-activities@2x.png")
					.dingwei_more
						img.zhan_img2(src="images/zhan_img2@2x.png")
						a(href="#")
							img.more_img(src="images/more@2x.png")
					.two_bg
						.two_width
							.team_active.pading10
								.time_active.padtop5
									.time_yuandian
									p.ta_p 16年05月22日
								p.ta_p.padtop5 庆祝球友某某某的生日(非赛事类)
								.ta_adress.padtop5
									img(src="images/icon-adress@2x.png")
									| 高新区益州大道天府五街芭夯兔
				.clear03
				// 视频
				// <div class="gk_photo">
				// <img src="images/Team-video@2x.png" class="gk_photo_img"/>
				// <div class="dingwei_more">
				// <img src="images/zhan_img2@2x.png" class="zhan_img2"/>
				// <a href="#"><img src="images/more@2x.png" class="more_img"/></a>
				// </div>
				// <div class="two_bg">
				// <div class="two_width">
				// <ul class="gk_photoul">
				// &lt;!&ndash;此处循环li标签，添加视频&ndash;&gt;
				// <li>
				// <video controls="controls" class="video">
				// <source src="movie.mp4" type="video/mp4" />
				// <source src="movie.ogg" type="video/ogg" />
				// <source src="movie.webm" type="video/webm" />
				// Your browser does not support the video tag.
				// </video>
				// </li>
				// <li>
				// <video controls="controls" class="video">
				// <source src="movie.mp4" type="video/mp4" />
				// <source src="movie.ogg" type="video/ogg" />
				// <source src="movie.webm" type="video/webm" />
				// Your browser does not support the video tag.
				// </video>
				// </li>
				// <li>
				// <video controls="controls" class="video">
				// <source src="movie.mp4" type="video/mp4" />
				// <source src="movie.ogg" type="video/ogg" />
				// <source src="movie.webm" type="video/webm" />
				// Your browser does not support the video tag.
				// </video>
				// </li>
				// <li>
				// <video controls="controls" class="video">
				// <source src="movie.mp4" type="video/mp4" />
				// <source src="movie.ogg" type="video/ogg" />
				// <source src="movie.webm" type="video/webm" />
				// Your browser does not support the video tag.
				// </video>
				// </li>
				// <div class="clear"></div>
				// </ul>
				// </div>
				// </div>
				// </div>
				// <div class="clear03"></div>
				// 球队公告
				.gk_photo
					img.gk_photo_img(src="images/teamgonggao@2x.png")
					.dingwei_more
						img.zhan_img2(src="images/zhan_img2@2x.png")
						a(href="#")
							img.more_img(src="images/more@2x.png")
					.two_bg
						.three_width.gonggao_content
							.t_gonggao.padtop15
								// 头像，姓名
								.t_gonggaol
									img(src="images/zhaopian.png")
								.t_gonggaor
									.t_gonggao_name
										| 页扁舟
										span.t_gonggao_span  队员 
									.t_gonggao_time 16-05-22
								.clear
							// 文本内容
							.t_gonggao_wenben 文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本
							img.message_img(src="images/Message@2x.png")
				.clear03
			// 概括 end
			// 排位赛 start
			.td_pws_content.td_main
				// path_one start 此处循环3：0战绩，那个img也是在循环内的
				.two_bg
					.pws_head.pading15
						.pws_headl
							img.icon_img_left(src="images/wait-for@2x.png")
							.pws_headl_word
								p.size14.pub_Beyhid 等待应战者
							.pws_headl_img
								img.rotate_clothes(src="images/clothes-red@2x.png")
							.clear
						.pws_headc
							p.size24_blue.padtop15.pub_Beyhid.font_w 0:3
							p.size12_hui.pading20.pub_Beyhid 站点获得
						.pws_headr
							img.icon_img_left(src="images/wait-for@2x.png")
							.pws_headl_word
								p.size14.pub_Beyhid 等待应战者
							.pws_headl_img
								img.rotate_clothes(src="images/clothes-red@2x.png")
							.clear
						.clear
						.pws_baifenbi
							.pws_baifenbil +0
							.pws_baifenbic
								.baifentiao_l
								.baifentiao_r
								.clear
							.pws_baifenbir +0
							.clear
					img.img_shadow(src="images/Separation-line1@2x.png")
				// path_one end
			// 排位赛 end
			// 赛事 start
			.td_ss_content.td_main
				.two_bg
					.pws_head.pading15
						.pws_headl
							img.icon_img_left(src="images/wait-for@2x.png")
							.pws_headl_word
								p.size14.pub_Beyhid 等待应战者
							.pws_headl_img
								img.rotate_clothes(src="images/clothes-red@2x.png")
							.clear
						.pws_headc
							p.size24_blue.padtop15.pub_Beyhid.font_w 0:3
							p.size12_hui.pading20.pub_Beyhid 站点获得
						.pws_headr
							img.icon_img_left(src="images/wait-for@2x.png")
							.pws_headl_word
								p.size14.pub_Beyhid 等待应战者
							.pws_headl_img
								img.rotate_clothes(src="images/clothes-red@2x.png")
							.clear
						.clear
						.pws_baifenbi
							.pws_baifenbil +0
							.pws_baifenbic
								.baifentiao_l
								.baifentiao_r
								.clear
							.pws_baifenbir +0
							.clear
					img.img_shadow(src="images/Separation-line1@2x.png")
				// path_one end
			// 赛事 end
		.zhan_foot
		// 悬浮框二维码 start
		.foot_erweima
		.erweima_content
			.erweima_contentl
				img(src="images/zhaopian.png")
			.erweima_contentr
				p 创建你的球队 称霸你的主场
				p.line_di 一站式球队服务专项平台
				p.padtop5 长按二维码下载APP
			.clear
		// 悬浮框二维码 end
		script(type="text/javascript", src="js/main.js")
