*{
    margin:0;
    padding:0;
    font-family: "Microsoft yahei";
}

ul li{
    list-style:none;
}
/*basic style  over*/



/*main header 开始*/
.main-header{
    width:100%;
    height:70pt;
    overflow: hidden;
    background: linear-gradient(#00278a, #001960)
}
.main-header p{
    color: #fff;
}

.main-header ul{
    display: flex;
    height:50pt;
    flex-direction:row;
    align-items:center;
    margin-top: 18pt;
    vertical-align: middle;
    justify-content: space-around;
}
.main-header ul li{
    height:50pt;
    display: block;
    width:33%;
    text-align: center;
    color:#999999;
    line-height:48pt;
    font-size: 14pt;

}

.main-header-on{
    color: #ffffff!important;
    border-bottom: 4pt solid #fff;
}


/*main header 结束*/


.content{
    width:100%;
    height:auto;
    overflow: hidden;
}






.search{
    width:100%;
    height:100pt;
    background: #061126;
}